<%= form_with(model: @bulletin.present? ? [@post.bulletin, @post] : @post, local: true) do |f| %>
  <div class="field" style="margin-top: 120px;">
    <div class="row">
      <div class="col-3 col-sm-2 col-md-1"><%= f.label :"제목" %></div>
      <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :title, class: "input_noborder", autocomplete: "off", id: "candidate" %></div>
    </div>
  </div>
  
  <% if @bulletin.opt_card == true %>
    <div class="field" style="margin-top: 10px;">
      <div class="row">
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"요약" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :summary, class: "input_noborder", autocomplete: "off"  %></div>
      </div>
    </div>
  <% end %>
  
  <% if @bulletin.opt_shop == true %>
    <div class="field" style="margin-top: 10px;">
      <div class="row">
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"가격" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :price, class: "input_noborder", autocomplete: "off"  %></div>
      </div>
    </div>
  <% end %>

  <div class="field" style="margin-top: 10px;">
    <%= tinymce :language => "en" %>
    <%= f.text_area :content, id: :post_content, class: "form-control tinymce", rows: "10" %>
  </div>
  
  <% if @bulletin.opt_agenda == true %>
    <div class="field" style="margin-top: 10px;">
      <div class="row">
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건1" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda1, class: "input_noborder", autocomplete: "off", placeholder: "안건1 (필수입니다)", required: true  %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건2" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda2, class: "input_noborder", autocomplete: "off", placeholder: "안건2 (필수입니다)", required: true %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건3" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda3, class: "input_noborder", autocomplete: "off", placeholder: "안건3" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건4" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda4, class: "input_noborder", autocomplete: "off", placeholder: "안건4" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건5" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda5, class: "input_noborder", autocomplete: "off", placeholder: "안건5" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건6" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda6, class: "input_noborder", autocomplete: "off", placeholder: "안건6" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건7" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda7, class: "input_noborder", autocomplete: "off", placeholder: "안건7" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건8" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda8, class: "input_noborder", autocomplete: "off", placeholder: "안건8" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건9" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda9, class: "input_noborder", autocomplete: "off", placeholder: "안건9" %></div>
        <div class="col-3 col-sm-2 col-md-1"><%= f.label :"안건10" %></div>
        <div class="col-9 col-sm-10 col-md-11"><%= f.text_field :opt_agenda10, class: "input_noborder", autocomplete: "off", placeholder: "안건10" %></div>
      </div>
    </div>
  <% end %>
  
  <% if @bulletin.opt_card == true %>
    <div class="field" style="margin-top: 10px;">
      <div class="row">
        <div class="col-4 col-sm-3 col-md-2"><%= f.label :"썸네일 이미지" %></div>
        <div class="col-8 col-sm-9 col-md-10"><%= f.file_field :thumb_image, accept: 'image/png,image/gif,image/jpeg' %></div>
      </div>
    </div>
  <% end %>

  <div align="center" class="actions" style="margin-top: 30px; margin-bottom: 50px;">
    <%= f.submit :"글 쓰기", class: "btn btn-sm btn-primary", onClick: "addCand()" %>
    <%= link_to '목록', (@bulletin.present? ? bulletin_posts_path(@bulletin) : posts_path), class: 'btn btn-sm btn-outline-dark' %>
  </div>
<% end %>
